.programlisting {
	padding: 1ex;
	background-color: #eee;
	border: 1px dotted #ccc;
}

.hl-keyword{
	color: #0A1777;	
}

.hl-comment{
	color: #7C7C7C;	
}
.hl-multiline-comment{
	color: #7C7C7C;	
}
.hl-number{
	color: #1930D1;	
}
.hl-string{
	color: #007921;	
}
