root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 160
tab_width = 4

[*.java]
ij_java_class_count_to_use_import_on_demand = 3000
ij_java_names_count_to_use_import_on_demand = 3000
