.clover/
target/
.project
.classpath
.settings/
.idea/
.patch
*.iml
*.ipr
*.iws
.DS_Store
reports/
.directory
atlassian-ide-plugin.xml
hazelcast-ra/*.log
hazelcast-ra/*.epoch
hazelcast-all/dependency-reduced-pom.xml
