.clover/
.idea/
.settings/
.attach_pid*
.classpath
.directory
.DS_Store
.patch
.project
.surefire-*
*.iml
*.ipr
*.iws
reports/
target/
atlassian-ide-plugin.xml
performance*.log
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
