<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2008-2022, Hazelcast, Inc. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p |%X{test-name}| - [%c{1}] %t - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <!--<Logger name="com.hazelcast.instance" level="debug"/>-->
        <!--<Logger name="com.hazelcast.cluster" level="debug"/>-->
        <!--<Logger name="com.hazelcast.internal.cluster" level="debug"/>-->
        <!--<Logger name="com.hazelcast.internal.partition" level="debug"/>-->
        <!--<Logger name="com.hazelcast.internal.hotrestart.cluster" level="debug"/>-->
        <!--<Logger name="com.hazelcast.test.mocknetwork" level="debug"/>-->
        <!--<Logger name="com.hazelcast.cp.internal" level="trace"/>-->
        <Logger name="com.hazelcast.internal.ascii" level="debug"/>
        <Logger name="com.hazelcast.client.impl.protocol.task" level="debug"/>
        <Logger name="com.hazelcast.client.impl.operations" level="debug"/>
        <Logger name="com.hazelcast.client.impl.spi.ClientListenerService" level="trace"/>
        <Logger name="com.hazelcast.jet" level="debug"/>
<!--        <Logger name="com.hazelcast.internal.partition.operation.MigrationRequestOperation" level="trace"/>-->
        <!--<Logger name="com.hazelcast.client.impl.spi.ClientInvocationService" level="trace"/>-->
        <!--<Logger name="com.hazelcast.client.impl.connection.ClientConnectionManager" level="trace"/>-->
    </Loggers>
</Configuration>
