name: Azure Discovery Plugin Tests

on:
  workflow_dispatch:
  pull_request_target:
    types:
      - labeled
    branches:
      - "master"
      - "*.z"
    paths:
      - "hazelcast/src/main/java/com/hazelcast/azure/**"
      - ".github/terraform/azure/**"

jobs:
  build:
    name: Azure Tests
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest
    if: >-
      github.repository_owner == 'hazelcast' && 
      ( github.event_name == 'workflow_dispatch' || 
        (github.event_name == 'pull_request_target' && 
          github.event.action == 'labeled' && 
          github.event.label.name == 'run-discovery-tests' 
        )
      )
    env:
      AWS_REGION: us-east-1
    steps:
      - name: Decide which ref to checkout
        id: decide-ref
        run: |
          if [[ "${{github.event_name}}" == "pull_request_target" ]]; then
            echo "ref=refs/pull/${{ github.event.pull_request.number }}/merge" >> $GITHUB_OUTPUT
          else
            echo "ref=${{github.ref}}" >> $GITHUB_OUTPUT
          fi

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{steps.decide-ref.outputs.ref}}

      - name: Read Java Config
        uses: pietrobolcato/action-read-yaml@9f13718d61111b69f30ab4ac683e67a56d254e1d
        id: java-config
        with:
          config: ${{ github.workspace }}/.github/java-config.yml

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ steps.java-config.outputs['java-version'] }}
          distribution: ${{ steps.java-config.outputs['distribution'] }}
          architecture: x64
          cache: "maven"

      - name: Build hazelcast jar
        run: |
          ./mvnw -T 4 -B -V -e clean package --activate-profiles quick \
          echo "Hazelcast jar is: " hazelcast/target/hazelcast-*-SNAPSHOT.jar
          cp hazelcast/target/hazelcast-*-SNAPSHOT.jar ~/hazelcast.jar

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            AZURE_CREDENTIALS,CN/AZURE_CREDENTIALS

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ env.AZURE_CREDENTIALS }}

      - name: Set Azure ServicePrincipal authentication env vars
        run: |
          export ARM_CLIENT_ID=$(echo $AZURE_CREDENTIALS | jq -r .clientId)
          export ARM_CLIENT_SECRET=$(echo $AZURE_CREDENTIALS | jq -r .clientSecret)
          export ARM_SUBSCRIPTION_ID=$(echo $AZURE_CREDENTIALS | jq -r .subscriptionId)
          export ARM_TENANT_ID=$(echo $AZURE_CREDENTIALS | jq -r .tenantId)

      - name: Set-up Terraform
        uses: hashicorp/setup-terraform@v3.0.0

      - name: Terraform Init
        working-directory: .github/terraform/azure
        run: terraform init

      - name: Terraform Apply
        working-directory: .github/terraform/azure
        run: |
          terraform apply \
            -var="hazelcast_mancenter_version=latest-snapshot" \
            -var="hazelcast_path=~/hazelcast.jar" \
            -auto-approve

      - name: Terraform Destroy
        if: ${{ always() }}
        working-directory: .github/terraform/azure
        run: terraform destroy -auto-approve
